/* SS Layout */

#sand_container {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	visibility: visible;
	z-index: auto;
	height: 650px;
	width: 887px;
	background-color:#4CC0B3;
	background-image:url(../images/ss_sand_bkgnd.gif)
}

#cate_container {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	visibility: visible;
	z-index: auto;
	height: 650px;
	width: 887px;
	background-color:#B4B100;
	background-image:url(../images/ss_cate_bkgnd.png);
	background-repeat:no-repeat
}

#cat_image_container

{
	position:absolute; 
	left:51px; 
	top:160px; 
	width:485px; 
	height:422px; 
	z-index:2

}

#cat_price_list_container

{
	position:absolute; 
	left:51px; 
	top:160px; 
	width:485px; 
	height:422px; 
	z-index:2;
	background-image:url(../images/price_list_box.gif);
	background-repeat:no-repeat

}

#menu_template_cat

{
	position:absolute;
	left:559px;
	top:0px;
	width:315px;
	height:599px;
	z-index:1;
	background-image:url(../images/cat_menu_backgnd.gif);
	background-repeat: no-repeat;

}

#sandmenuselect

{
	position:absolute; 
	left:20px; 
	top:13px; 
	width:132px; 
	height:37px; 
	z-index:2

}


#cateringmenuselect

{
	position:absolute; 
	left:156px; 
	top:12px; 
	width:131px; 
	height:39px; 
	z-index:3

}

#cat_menu_container_top

{
	position:absolute; 
	left:20px; 
	top:64px; 
	width:276px; 
	height:230px; 
	z-index:1

}
#cat_menu_container_bottom

{
	position:absolute; 
	left:21px; 
	top:310px; 
	width:272px; 
	height:254px; 
	z-index:4

}
#roller_placer

{
	position:absolute;
	left:19px;
	top:315px;
	width:268px;
	height:247px;
	z-index:4;
	overflow: auto;

}

#roller_placer_home

{
	position:absolute;
	left:19px;
	top:315px;
	width:268px;
	height:247px;
	z-index:4;

}

body {
	background-color:#B4B100;
}


/* End */
.cat_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #7F7B00;
}
.cat_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #38958A;
}
.cat_text_alt {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #26665F;
}
.cat_text_alt_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #26665F;
	font-weight: bold;
}

#Layer1 {
font-family:Arial,Helvetica,Verdana,sans-serif;
}

#Layer1 h1.business2 {
width:252px;
height:56px;
margin:0px 0px 15px 16px;
padding:0px 0px 0px 0px;
background: url(../images/business2.gif);
text-indent:-222000px;
}

#Layer1 p {
font-size:12px;
margin:3px 0px 0px 16px;
padding:0px;
width:470px;
color:#480d0f;
font-weight:bold;
}

#Layer1 p.white {
color:#fff;
}

#Layer1 p.break {
margin:3px 0px 10px 16px;
}

#Layer1 span.white {
color:#fff;
}

#Layer1 ul {
margin:10px 0px 10px 30px;
padding:0px 0px 0px 0px;
}

#Layer1 li {
font-size:12px;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
color:#480d0f;
font-weight:bold;
}


#Layer1 span.white {
color:#fff;
}

.price {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F4A802;
}

.menu_item_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #490D0F;
}
